.loginPage {
  display: flex;
  flex-direction: column;
}
.loginPage .loginForm {
}
.loginForm {
  display: flex;
  flex-direction: column;
  height: fit-content;
  background-color: #fff;
  align-content: center;
  padding: 2rem;
}
.loginForm > h2,
h4 {
  text-align: center;
}
.ant-form-item-control-input-content {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
